<template>

	<ul 
		:class="[
			'learning-areas-menu',
			'-learning-area-title', 
			{'-already-here': $route.name == 'learning-areas-Slug'},
			{'-homepage': $route.path == '/'},
		]"
	>

		<TheHeader-LearningAreasMenu-item
			v-for="learningarea in learningareas"
			:key="learningarea.id"
			:learningarea="learningarea"
		>
		</TheHeader-LearningAreasMenu-item>
	</ul>

</template>

<script setup>

import query from '@/queries/learningareas.gql';
const { data } = await useAsyncQuery(query);
const learningareas = data._rawValue.learningareas;

</script>


<style lang="scss">

.learning-areas-menu {

	display: flex;
	flex-wrap: wrap;
	grid-column-end: 3;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-row-start: 1;
	justify-content: center;
	list-style: none;
	margin: 0 auto;
	padding: 0;

	@media ($for-reduced-more) and ($for-non-mobile) {

		max-width: 35em !important; // to avoid the Cultural widow
	}

	// To enable the menu to fit on 2 lines
	@media ($for-mobile)  {

		max-width: 30rem;
	//     border: 1px solid #fff;
	}

	&.-homepage {

		@media ($for-non-mobile) {

			align-self: flex-start;
			grid-column-end: 3;
			grid-column-start: 2;
			justify-content: center;
			margin-top: 1rem;
			max-width: 50em;
			width: 100%;
		}

		// Following two keep LearningAreasMenu from jumping around with resize
		// No point in using breakpoint variables as these are a function of the current word sizes in the menu (which have changed)

		@media (min-width: 92rem ) and (max-width: 100rem) {

			width: 74%;
		}

		@media (min-width: 100rem )  {

			width: 70%;
		}
	}
}

</style>