<template >

<section id="activities" class="activities-deck">

	<div @click="wrapping = !wrapping" class="_layout-toggler">
		<fa :icon="['fas', 'th']" :class="{ '-on': wrapping }" />
		<fa :icon="['fas', 'arrows-alt-h']" :class="{ '-on': !wrapping } "/>
	</div>

	<div class="_pre-activities-deck">
		<h2 class="_activities-deck-header -section-title">
			Classroom Activities
		</h2>
		<p v-if="$route.path !== '/'" class="_learning-area-reminder -learning-area-title">
			<!-- {{ $route.params.Slug.replace('-', ' ') | capitalizedSlug }} -->
			{{ learningAreaTitleFromSlug }}
		</p>
	</div>


	<div
		:class="[ 
			'_activities-deck-inner', 
			'-bg-aztec', 
			'-scroll-area', 
			{ '-wrapping': wrapping },
		]"
	>

		<activities-deck-item
			v-for="(activity, index) in filteredActivities"
			:key="activity.id"
			:title="activity.Title"
			:slug="activity.Slug"
			:image="activity.Image"
			:objectives="activity.Objectives"
			:learningareas="activity.learningareas"
			:index="index"
		>
		</activities-deck-item>

	</div>

	<div class="_post-activities-deck"></div>

</section>

</template>


<script setup>

/* 
2023 may 8: We have to do the main stuff here because we only know how to use Apollo using what the docs describe, which is useAsyncQuery, which requires await, which is only avaiable in setup, and then activities as generated in script setup are unavailable to the general script, so filteredActivities must be done here as well 
*/

import { computed, onMounted, watch } from 'vue';
const route = useRoute();

import query from '@/queries/activities.gql';
const { data } = await useAsyncQuery(query);
const activities = data._rawValue.activities;

const learningAreaTitleFromSlug = computed(() => {

	// console.log("doing learningAreaTitleFromSlug in script setup" );
	let slug = route.params.Slug.replace('-', ' ');
	if (!slug) return '';
	slug = slug.toString();
	slug.charAt(0).toUpperCase() + slug.slice(1);
	return slug;
});

const filteredActivities = computed(() => {

	// console.log("trying to do new computed filteredActivites");
	// Thanks to https://jsfiddle.net/8d9nx0mz/79/ !!!
	const thisLearningArea = route.params.Slug;
	// const thisLearningArea = "language";
	let activitiesTemp = activities;
	if (thisLearningArea) {
		activitiesTemp = activitiesTemp.filter(a => {
			let foundLearningArea = a.learningareas.findIndex((l) => {
				return l.learningarea_id.Slug === thisLearningArea
			})
			return foundLearningArea !== -1
		})
	}
	return activitiesTemp;
});

</script>

<script>

/*
import ActivitiesDeckItem from '@/components/ActivitiesDeck/item';
import allActivities from '@/queries/activities.gql';
*/

// import query from '@/queries/activities.gql';

export default {

	data () {

		return {

			wrapping: false,
		}
	},

	/*
	watch: {

		wrapping() {

			localStorage.ActivitiesWrapping = wrapping;
		},
	},

	mounted() {

		if (localStorage.ActivitiesWrapping) {
			this.wrapping = (localStorage.ActivitiesWrapping == "true"); // Convert localStorage's string back to boolean
		}
	},
	*/

}

</script>


<style lang="scss">

.activities-deck {

	background-color: $copper-red;
	position: relative;
}

	._pre-activities-deck {

		color: #fff;
		height: 1rem;

		h2 {

			font-size: 4.5rem;
			font-weight: 200;

			@media($for-mobile) {

				font-size: 3.5rem;
				line-height: 6rem;
			}
		}

		._learning-area-reminder {

			font-size: 1.75rem;
			line-height: normal;
			margin-top: -1.25rem;

			@media($for-mobile) {

				font-size: 1.25rem;
			}
		}
	}

	._activities-deck-inner {

		align-items: flex-start;
		display: flex;
		justify-content: flex-start;
		margin: 0 auto;
		overflow: scroll;
		padding-bottom: 2rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 8.5rem;
		transition: all 0.25s;

		@media($for-mobile) {

			padding-bottom: 1rem;
			padding-left: 1rem;
			padding-top: 6rem;
		}

	}

	._post-activities-deck {

		height: 1rem;
	}

</style>