<template>

<article
	ref="article"
	class="-single-entry -activities"
>

	<div class="_article-inner -bg-aztec">

		<div class="_article-inner-b ">

			<header class="_head">

				<div class="_title-and-blurb" >
					<!--
					<div class="_blurb" v-html="$md.render(activity.Blurb)"></div>
					-->

					<div
						class="_blurb"
					>
					<!-- 						
											v-balance-text.children
	
					 -->

						<p >
							{{ activity.Blurb }}
						</p>
					</div>

					<h1
						class="-activity-title"
					>
					<!-- 						v-balance-text -->

						{{ activity.Title }}
					</h1>
				</div>

			</header>

			<figure class="_hero">

				<!--
				<v-lazy-image
					:alt="activity.Title"
					:title="image.name"
					v-for="image in activity.Images.slice(0,1)"
					:key="image.public_metadata"
					:src="'https://res.cloudinary.com/via-montessori/image/upload/c_scale,w_1920,q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + image.id"
					:src-placeholder="'https://res.cloudinary.com/via-montessori/image/upload/c_scale,w_302,q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + image.id"
				/>
				-->

				<nuxt-img
					:alt="activity.Title"
					:src="processImageURL(activity.Image.id, '1920')"
					:placeholder="processImageURL(activity.Image.id, '302')"
				/>

			</figure>

			<div class="_body-outer">

				<div class="_body">

					<aside class="_related-learning-areas">
						<!-- <p class="-meta">Learning areas</p> -->
						<ul>
							<li
								class="-learning-area-title"
								v-for="LearningArea in learningareasFlattened"
								:key="LearningArea.id"
							>
								<nuxt-link
									:class="[
										'-bg-gradient',
										'-reverse-gradient',
										'-' + LearningArea.Slug
									]"
									:to="'/learning-areas/' + LearningArea.Slug"
									:title="LearningArea.Title"
								>
									{{ LearningArea.Title }}
								</nuxt-link>
							</li>
						</ul>
					</aside>

					<the-item-an-attribution
						:date="activity.Publish_Date"
						:authors="authorsFlattened"
					/>

					<main class="_body-inner">

						<div v-if="activity.Aim">
							<h2>Aim</h2>
							<div class="-aim" v-html="$md.render(activity.Aim)"></div>
						</div>

						<div v-if="activity.Objectives">
							<h2>Objectives</h2>
							<div class="-objectives" v-html="$md.render(activity.Objectives)"></div>
						</div>

						<div v-if="activity.Age">
							<h2>Age</h2>
							<div class="-age" v-html="$md.render(activity.Age)"></div>
						</div>

						<div v-if="activity.Materials">
							<h2>Materials</h2>
							<div class="-materials" v-html="$md.render(activity.Materials)"></div>
						</div>

						<div v-if="activity.Language">
							<h2>Language</h2>
							<div class="-language" v-html="$md.render(activity.Language)"></div>
						</div>

						<div v-if="activity.ControlOfError">
							<h2>Control of Error</h2>
							<div class="-control-of-error" v-html="$md.render(activity.ControlOfError)"></div>
						</div>

						<div
							v-for="section in sectionsFlattened"
							:key="section.id"
						>

							<h2 v-if="section.Heading && section.Heading != '-' ">
								{{ section.Heading }}
							</h2>

							<figure
								v-if="section.Image"
								class=""
							>

								<nuxt-img
									:src="processImageURL(section.Image.id, '704')"
									:placeholder="processImageURL(section.Image.id, '100')"
								/>

								<span
									v-if="section.Caption"
									class="_caption -caption"
									v-html="$md.render(section.Caption)"
								/>
								<!-- 									v-balance-text.children -->


							</figure>

							<div
								v-if="section.Body"
								:class="'-' + section.Heading.replace(' ', '-').toLowerCase()"
								v-html="$md.render(section.Body)"
							/>

						</div>

					</main>

				</div>

			</div>

		</div>

	</div>

</article>

</template>


<script>

export default {

	props: {

		activity: {
			required: true
		},
	},

	head () {

		return {

			title: this.activity.Title,
			meta: [
			{
				hid: 'description',
				name: 'description',
				content: this.activity.Blurb
			}]
		}
	},

	computed: {

		authorsFlattened() {

			// console.log("this.activity.authors::");
			// console.log(this.activity.authors);

			return this.activity.authors.map(obj => {
				return {
					username: obj.user_id.username,
					Slug: obj.user_id.Slug,
				};
			});
		},

		learningareasFlattened() {

			return this.activity.learningareas.map(obj => {
				return {
					Title: obj.learningarea_id.Title,
					Slug: obj.learningarea_id.Slug,
				};
			});
		},

		sectionsFlattened() {

			return this.activity.section.map(obj => {
				return {
					id: obj.item.id,
					Heading: obj.item.Heading,
					Image: obj.item.Image,
					Caption: obj.item.Caption,
					Body: obj.item.Body,
				};
			});
		},
	},
}

</script>


<style lang="scss">

article.-activities {

	background-color: #c9774f;
	border: 0;
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	position: relative;

	._article-inner {

		padding-bottom: 2rem;
		padding-top: 4rem;

		@media($for-mobile) {

			padding-bottom: 1rem;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
		}

		._article-inner-b {

			border-radius: 4rem;
			border-top: 1px solid #bbb;
			border: 1px solid #999;
			margin-left: auto;
			margin-right: auto;
			max-width: 90rem;
			padding: 0;
			width: 96%;

			@media($for-non-mobile) {

				margin-top: -6rem;
			}

			@media($for-mobile) {

				border-radius: 2rem;
				margin-top: -5.125rem;
				width: auto;
			}

			._head {

				background: #fff;
				border-top-left-radius: 4rem;
				border-top-right-radius: 4rem;
				margin: 0 auto;
				padding-bottom: 1rem;
				padding-top: 1rem;

				@media($for-mobile) {

					border-top-left-radius: 2rem;
					border-top-right-radius: 2rem;
				}

				._title-and-blurb {

					margin: 0 auto;
					width: 84.5%;

					@media($for-larger) {

						width: 61.8%;
					}

					@media($for-mobile-vertical) {

						width: 100%;
					}

					@media($for-non-mobile) {

						padding-bottom: 3rem;
						padding-top: 3rem;
					}

					@media($for-mobile) {

						padding-bottom: 0.5rem;
					}

					._blurb {

						padding-bottom: 0.5rem;
						text-align: center;
						vertical-align: bottom;

						p {

							color: #a73820;
							display: block;
							font-size: 2rem;
							font-style: italic;
							font-weight: 500;
							line-height: 1.34;
							margin-bottom: 0;
							margin-left: 0;
							margin-right: 0;
							max-width: none;
							padding-bottom: 0;
							padding-top: 0;
							text-wrap: balance; // one day...
							width: 100%;

							@media($for-mobile) {

								font-size: 1rem;
							}
						}
					}

					h1 {

						color: #333;
						display: block;
						line-height: 1.125;
						max-width: none;
						padding-top: 0rem;
						text-align: center;
						text-wrap: balance; // one day...

						@media($for-non-mobile) {

							font-size: 3.25rem;
							padding-left: 2rem;
							padding-right: 2rem;
						}

						@media($for-mobile) {

							font-size: 1.618rem;
						}
					}
				}
			}

			._hero {

				background: #fff;
				border: 0;
				text-align: center;

				img {

					border: 0;
					display: block;
					opacity: 1;
					width: 100%;

					.v-lazy-image {

						filter: blur(0.125rem);
						transition: filter 0.5s;
					}

					.v-lazy-image-loaded {

						height: auto;
						filter: blur(0);
					}
				}
			}

			._body-outer {

				background: #fff;
				border-bottom-left-radius: 4rem;
				border-bottom-right-radius: 4rem;
				margin: 0 auto;
				opacity: 0.85;
				padding-top: 1rem;
				position: relative;

				strong {

					font-weight: 700;
				}

				@media($for-non-mobile) {

					padding-bottom: 3rem;
				}

				@media($for-mobile) {

					border-bottom-left-radius: 2rem;
					border-bottom-right-radius: 2rem;
					flex-direction: column;
				}

				p,
				h2,
				ul,
				figure,
				ol {

					@media($for-mobile) {

						padding-left: 1rem;
						padding-right: 1rem;
					}

					@media($for-mobile-smaller) {

						padding-left: 0.75rem;
						padding-right: 0.75rem;
					}
				}

				ul,
				ol
				{
					@media ($for-mobile-vertical) {

						margin-left: 1.125rem;
					}
				}

				h2 {

					color: #ccc;
					font-weight: 500;

					@media($for-non-mobile) {

						font-size: 2.25rem;
					}
				}

				.-aim p {

					font-style: italic;
				}

				._body-inner {

					@media($for-mobile) {

						order: 1;
					}

					figure {

						&:first-child {

							margin-top: 1.5rem;
						}

						img {

							border-radius: 0.25rem;
							width: 100%;
						}

						._caption {

							padding-left: 0;
							padding-right: 0;
							text-align: right;

							p {

								font-size: 0.9rem;
								line-height: 1.34;
								padding-left: 0;
								padding-right: 0;
								text-wrap: balance;

								cite {

									font-weight: 700 !important;
								}
							}
						}
					}
				}

				._related-learning-areas,
				._attribution {

					clear: right;
					float: right;
					margin-left: 1rem;
					max-width: 50%;

					@media($for-larger) {

						clear: none;
						display: block;
						float: none;
						margin-left: 0;
						max-width: 40rem;
						position: absolute;
					}

					@media($for-mobile) {

						max-width: none;
					}

					p {

						@media($for-non-mobile) {

							line-height: 2em;
							margin-bottom: 1.5em;
						}

						@media($for-mobile) {

							line-height: normal;
						}

						.-person-name {

							@media($for-non-mobile) {

								border: 1px solid #ccc;
								display: inline-block;
								margin-right: -0.5rem;
								padding: 0rem 0.5rem;
							}

							@media($for-mobile) {

								line-height: 1;
								max-width: 10rem;
							}
						}
					}
				}

				._related-learning-areas {

					order: 2;
					text-align: right;

					@media($for-larger) {

						left: 1rem;
						top: 0.5rem;
					}

					ul {
						@media($for-non-mobile) {

							padding: 2rem;
							padding-top: 0;
						}

						li {

							list-style: none;
							margin-bottom: 0.5rem;
							margin-left: -0.25rem;
							margin-top: 0.5rem;
							max-width: none;

							@media($for-non-mobile) {

								font-size: 1.5rem;
								line-height: 3;
								margin-top: 1.5rem;
							}

							@media($for-mobile) {

								font-size: 0.9rem;
							}

							a {

								border-bottom: 1px solid #999;
								border-radius: 0.5rem;
								color: #fff;
								font-weight: 500;
								padding: 0.25rem 0.5rem;

								&:hover {

									text-shadow: 0 0 0.125em #fff;
								}
							}
						}
					}
				}

				._attribution {

					margin-bottom: 0.5rem;
					margin-top: 0.5rem;
					text-align: right;

					@media($for-larger) {

						bottom: 2rem;
						right: 2rem;
					}

					p {

						margin-bottom: 0;
					}
				}
			}
		}
	}
}

</style>