<template>

<div 
	class="
		_attribution 
		-attribution
	"
>

	<p class="-date">
		<time>
			{{ dateFormatted }}
		</time>
		
	</p>

	<p>
		<span
			class="-person-name"
			v-for="(author, index) in authors"
			:key="author.id"
		>
			<span v-if="index > 0 && index != authors.length - 1" >, </span>
			<span v-if="index != 0 && index == authors.length - 1" >&nbsp;& </span>
			<nuxt-link 
				v-if="include_link != 'n'" 
				:to="'/educators/' + author.Slug">
				{{ author.username }}
			</nuxt-link>
			<span v-else>
				{{ author.username }}
			</span>
		</span>
	</p>

</div>

</template>


<script setup>

import { useDateFormat } from '@vueuse/core'

const props = defineProps({

    authors: {
		required: true
	},

	date: {
		required: true
	},

	include_link: {
	},
})

const dateFormatted = useDateFormat(props.date, 'MMMM D, YYYY') // 2023 may 6: no frigging ordinal

</script>

<style lang="scss">


</style>