<template>

<article
	:class="[
		'content-holder',
		'-educator',
		'-single-entry',
		'-bg-aztec',
		'-' + $route.params.Slug
	]"
>

	<div class="_article-inner ">

		<div class="_name-and-pic">

			<h1 class="-person-name">
				{{ educator.username }}
			</h1>

			<p class="_profile-pic-holder">

				<img
					class="_profile-pic"
					:alt="educator.username"
					:src="processImageURL(educator.Image.id, '412')"
				/>

			</p>

		</div>

		<div
			class="_blurb"
			v-html="$md.render(educator.Blurb)"
		/>

		<div class="_body-outer">

			<div
				class="_body"
				v-html="$md.render(educator.Profile)"
			/>

		</div>

	</div>

</article>

</template>


<script>

export default {

	props: {
		educator: {
			required: true
		},
	},

	head () {
		return {
			title: this.educator.username  + ', Educator'
		}
	},
}

</script>


<style lang="scss">

.header.-educators {

	._header-inner {

		padding-bottom: 1rem;
	}

	._header-after {

		background-color: $chinese-red;
		display: block;
		height: 0.75rem;
	}
}

article.-educator {

	background-color: $chinese-red;
	overflow: visible;
	padding-bottom: 2.25rem;
	padding-top: 4.75rem;

	@media($for-mobile) {

		padding-top: 4.25rem;
	}

	._article-inner {

		background: $office-green;
		border-radius: 1.25rem;
		border: 2px solid #fff;
		color: #fff;
		margin-left: auto;
		margin-right: auto;
		max-width: 68rem;
		opacity: 1;
		padding: 2rem;

		@media($for-mobile) {
			max-width: 100%;
			padding: 2rem;
		}

		._name-and-pic {

			background: #fff;
			border-radius: 2rem;
			border: 0.125rem solid #fff;
			margin-bottom: 1rem;
			margin-left: auto;
			margin-right: auto;
			margin-top: -5.5rem;
			padding-top: 1rem;
			width: 42rem;

			@media($for-mobile) {
	
				width: 100%;
			}

			h1 {
	
				color: $office-green;
				line-height: 1;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 0;
				text-align: center;

				@media($for-non-mobile) {

					font-size: 2.5rem;
				}
			}

			._profile-pic-holder {

				text-align: center;

				._profile-pic {

					border-bottom-left-radius: 1.5rem;
					border-bottom-right-radius: 1.5rem;
					border: 2px solid #fff;
					display: block;
					margin-left: auto;
					margin-right: auto;
					margin-top: 0rem;
					max-width: 26rem;
					text-align: center;
					width: 100%;
				}
			}
		}

		._blurb {

			@media($for-mobile) {

				margin-left: -1rem;
				margin-right: -1rem;
				width: auto;
			}

			p {

				font-size: 2rem;
				font-weight: 400;
				line-height: 1.67;
				margin-bottom: 1rem;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 2rem;
				padding-top: 3rem;

				@media($for-mobile) {

					font-size: 1.25rem;
					padding-bottom: 1rem;
					padding-top: 2rem;
				}
			}
		}

		._body {

			@media($for-mobile) {

				margin-left: -1rem;
				margin-right: -1rem;
				padding-bottom: 0;
				width: auto;
			}

			p,
			ul,
			li,
			h2 {

				font-style: italic;
				margin-left: auto;
				margin-right: auto;
			}

			a {

				color: $copper-red;
			}
		}
	}
}

</style>