<template>

<div class="wrapper -learning-areas">

	<TheItem-ALearningArea
		:learningarea="item"
	/>

	<aside>
		<ActivitiesDeck />
	</aside>

</div><!-- /.wrapper -->

</template>

<script setup>

import query from '@/queries/learningarea.gql';
const route = useRoute();

const variables = {
	slug: route.params.Slug
}
const { data } = await useAsyncQuery(query, variables);

const item = data._rawValue.learningareas[0];

const pageTitle = item.Title;
const pageDescription = item.Blurb;
const pageImage = '';

useHead({ 

	title: pageTitle,
	meta: [
		{ hid: 'description', name: 'description', content: pageDescription },
		{
			property: 'og:title',
			content: pageTitle
		},
		{
			property: 'og:description',
			content: pageDescription
		},
		{
			property: 'og:image',
			content: pageImage
		},
		{
			property: 'og:url',
			content:  'http://via-montessori.com' + route.fullPath
		},
		{
			name: 'twitter:title',
			content: pageTitle
		},
		{
			name: 'twitter:description',
			content: pageDescription
		},
		{
			name: 'twitter:image',
			content: pageImage
		},
		{
			name: 'twitter:card',
			content: 'summary_large_image'
		}
	],
})

</script>


<style lang="scss">

.wrapper.-learning-areas {
	background: #fff;
	padding-top: 0.5rem;
}

</style>