<template>

<div>

<NuxtLayout />

</div>

</template>

<script setup lang="ts">

useHead({

	titleTemplate: (titleChunk) => {
		return titleChunk ? `${titleChunk} | Via Montessori` : 'Via Montessori - For today’s Casa dei Bambini';
	},
})

</script>