<template>

<div class="wrapper -educators">

	<TheItem-AnEducator
		:educator="item"
	/>

	<div class="_article-after"></div>

</div><!-- /.wrapper -->

</template>


<script setup>

import query from '@/queries/educator.gql';
const route = useRoute();

const variables = {
	slug: route.params.Slug
}
const { data } = await useAsyncQuery(query, variables);

// console.log("data::");
// console.log(data._rawValue.users[0].username);
// 
// console.log("route::");
// console.log(route);
// console.log(route.fullPath);

// console.log(config.app);

const item = data._rawValue.users[0];

const pageTitle = item.username;
const pageDescription = item.Blurb;
const pageImage = processImageURL(item.Image.id, '412');

useHead({

	title: pageTitle,
	meta: [
		{ hid: 'description', name: 'description', content: pageDescription },
		{
			property: 'og:title',
			content: pageTitle
		},
		{
			property: 'og:description',
			content: pageDescription
		},
		{
			property: 'og:image',
			content: pageImage
		},
		{
			property: 'og:url',
			content:  'https://via-montessori.com' + route.fullPath
		},
		{
			name: 'twitter:title',
			content: pageTitle
		},
		{
			name: 'twitter:description',
			content: pageDescription
		},
		{
			name: 'twitter:image',
			content: pageImage
		},
		{
			name: 'twitter:card',
			content: 'summary_large_image'
		}
	],
})

</script>


<style lang="scss">

._article-after {

	background-color: $chinese-red;
	height: 0.75rem;
}

</style>