<template>

<div class="jobs-board ">

	<div class="_jobs-board-inner">

		<div class="resumes -jobs-board-section">

			<div class="_resumes-inner -bg-aztec">

				<h1 class="-section-title">
					<nuxt-link :to="'/educators/'" >
						Educators
					</nuxt-link>
				</h1>

				<div class="resume">

					<h2 class="-person-name">
						Roberta<br>Frosolini
					</h2>

					<div class="_description">

						<nuxt-img class="_profile-pic" src="roberta-frosolini.jpg" /><br>

					</div>

				</div>

			</div>

		</div>

		<div class="jobs -jobs-board-section">
			<div class="_jobs-inner -bg-aztec">
				<h1 class="-section-title">
					<nuxt-link :to="'/positions/'" >
						Positions
					</nuxt-link>
				</h1>
			</div>
		</div>

	</div><!-- /.jobs-board-inner -->

</div><!-- /.jobs-board -->

</template>


<script>

export default {

}

</script>


<style lang="scss">

.jobs-board {

	background: #fff;

	._jobs-board-inner {

		display: flex;

		.-jobs-board-section,
		{

			width: 50%;
		}

		h1 {

			font-size: 4rem;
			font-weight: 200;
		}
	}
}

.resumes {

	background-color: $dark-blue-gray;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;

	._resumes-inner {

		background-position: right 0;
		margin-right: 0;
		padding-bottom: 1rem;

		h1 {

			color: #fff;
			margin-bottom: 6rem;

			&:hover {

				text-shadow: 0 0 0.125em #fff;
			}
		}
	}
}

.resume {

	background: $office-green;
	border-radius: 1.25rem;
	border: 2px solid #fff;
	color: #fff;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.8;
	padding: 2rem;
	width: 24rem;

	._profile-pic {

		border-radius: 50%;
		border-bottom-left-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border: 2px solid #fff;
		margin-top: 0rem;
		text-align: center;
		width: 61.8%;
	}

	h2 {

		background: #fff;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		color: $office-green;
		font-size: 1.25rem;
		height: 4rem;
		line-height: 1.25em;
		margin-left: auto;
		margin-right: auto;
		margin-top: -6rem;
		padding-top: 0.5rem;
		width: 61.8%;
	}

	._description {

		p {

			font-weight: 400;
			margin-top: 1rem;
			text-align: left;
		}
	}
}

.jobs {

	background-color: $wild-blue-yonder;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;

	h1:hover {

		text-shadow: 0 0 0.125em $dark-blue-gray;
	}
}

</style>