<template>

	<div
		:class="[
			'header',
			{'-homepage': $route.path === '/'},
			routeName,
			routeSlug,
		]"
	>
		<div
			:class="[
				'_header-inner',
				'-bg-gradient',
				routeSlug,
				{'-homepage': $route.path === '/'}
			]"
		>

			<TheHeader-LearningAreasMenu />

			<TheHeader-TheMasthead />

			<p v-if="$route.path === '/'" class="_tagline-display">
				<span class="-tagline">For today’s Casa&nbsp;dei&nbsp;Bambini.</span>
			</p>

		</div>

		<div :class="['_header-after', '-' + $route.params.Slug, {'-homepage': $route.path === '/'} ]"></div>

	</div>

</template>


<script>

/*
import TheMasthead from '@/components/TheHeader/TheMasthead/';
import LearningAreasMenu from '@/components/TheHeader/LearningAreasMenu/';
*/

export default {

	/*
	components: {

		TheMasthead,
		LearningAreasMenu
	},
	*/

	computed: {

		// These required as of Nuxt^2 to prevent error if undefined
		routeName: function () {
			if (this.$route.name) {
				return '-' + this.$route.name.replace('-Slug', '')
			}
			else {
				return '';
			}
		},

		routeSlug: function () {
			if (this.$route.params.Slug) {
				return '-' + this.$route.params.Slug
			}
			else {
				return '';
			}
		}
	}

}

</script>


<style lang="scss">

._header-inner {

	background: linear-gradient(to bottom, #20BDFF , #9bddff 85%, );
	display: grid;
	grid-template-columns: 100%;
	margin: 0 auto;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.25rem;
	position: relative;
	transition: all 0.125s;

	@media ($for-non-mobile)  {

		grid-template-columns: 38.2% 61.8%;
		grid-template-rows: auto;
	}

	@media ($for-mobile)  {
		padding-bottom: 0.5rem;
		padding-left: 0.125rem;
		padding-right: 0.125rem;
	}

	&.-homepage {

		background-repeat: no-repeat;
		background-size: cover;

		@media ($for-non-mobile) {

			background: linear-gradient(to bottom left, #131862 1%, #20BDFF 35%, #fff 51%, #95cd85);
			padding-bottom: 0;
			padding-top: 0.5rem;
		}

		@media ($for-mobile)  {

			background: linear-gradient(#20BDFF 30%, #fff 80%);
		}
	}

	._tagline-display {

		align-self: baseline;
		color: #222;
		font-size: 2.5rem;
		justify-self: center;
		line-height: normal;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
		text-align: center;

		@media ($for-larger) {

			margin-top: 1.25rem;
		}

		@media ($for-non-mobile) {

			grid-column-end: 3;
			grid-column-start: 2;
			grid-row-end: 5;
			grid-row-start: 2;
		}

		@media ($for-reduced) {

			font-size: 2.25rem;
			margin-top: 0.5rem;
		}

		@media ($for-reduced-more) and ($for-non-mobile) {

			font-size: 1.75rem;
		}

		@media ($for-mobile) {

			font-size: 1.25rem;
		}
	}
}

.wrapper.-activities ._header-inner {

	padding-bottom: 4.25rem;
}

</style>