<template>

<section id="articles" class="articles-rack">

	<div class="_pre-articles-rack"></div>

	<div @click="wrapping = !wrapping" class="_layout-toggler">
		<fa :icon="['fas', 'th']" :class="{ '-on': wrapping }" />
		<fa :icon="['fas', 'arrows-alt-h']" :class="{ '-on': !wrapping } "/>
	</div>

	<div
		:class="[ '_articles-rack-inner', '-bg-aztec-lite', '-scroll-area', { '-wrapping': wrapping } ]"
	>

		<articles-rack-item
			v-for="article in data.articles"
			:key="article.id"
			:title="article.Title"
			:slug="article.Slug"
			:publishDate="article.Publish_Date"
			:authors="article.authors"
			:image="article.Image"
			:blurb="article.Blurb"
		>
		</articles-rack-item>
	
	</div>

	<div class="_post-articles-rack"></div>

</section>

</template>

<script setup>

import query from '@/queries/articles.gql';
const { data } = await useAsyncQuery(query);
const articles = data._rawValue.articles;

</script>

<script>

// import ArticlesRackItem from '@/components/ArticlesRack/item';
// import allArticles from '@/queries/articles.gql';

export default {

	data () {
		return {
			wrapping: false,
		}
	},

	/*
	components: {
		ArticlesRackItem,
	},

	apollo: {
		articles: {
			prefetch: true,
			query: allArticles,
			// pollInterval: 10000,
		},
	},
	*/

	/* 2023 may 11: won't build with these, i guess cos ssr or something, but dev runs with them
//	watch: {

//		wrapping() {
//			localStorage.ArticlesWrapping = wrapping;
//		},
//	},

//	mounted() {
//		if (localStorage.ArticlesWrapping)
//		{
//			this.wrapping = (localStorage.ArticlesWrapping == "true"); // Convert localStorage's string back to boolean
//		}
//	},
	*/
}
</script>


<style lang="scss">

.articles-rack {

	background: linear-gradient(to top right, #cabc76, #95cd85 , #fff  );
	padding-bottom: 0.5rem;
	position: relative;

	._pre-articles-rack {

		height: 0.5rem;
	}

	._layout-toggler {

		color: $smokey-topaz;
		top: 0.75rem;

		&:hover {

			color: $chinese-red;
		}
	}

	._articles-rack-inner {

		align-items: flex-start; // align the pics, too messy otherwise
		display: flex;
		justify-content: flex-start; // stick to this, see at different screen sizes
		margin: 0 auto;
		overflow: scroll;
		padding-bottom: 3rem;
		padding-left: 3rem;
		padding-right: 3rem;
		padding-top: 4rem;

		@media ($for-reduced) {

			padding-left: 2rem;
			padding-right: 2rem;
		}

		@media ($for-mobile) {

			padding-bottom: 0.5rem;
			padding-left: 0;
			padding-top: 0.5rem;
		}
	}

	._post-articles-rack {

		height: 0.75rem;
	}
}

</style>