/********
COLORS!
********/

$yale-blue: #094d92;
$chinese-red: #a73820;
$smokey-topaz: #983b4c;
$office-green: #007f00;
$copper-red: #c9774f;
$brown-sugar: #b46a46; // darker $copper-red
$dark-blue-gray: #6761a8;
$wild-blue-yonder: #aca8cf; // lighter $dark-blue-gray
$fire-tip: #fdcf58;

/*
     &.-life-skills {
          background-color: #20BDFF;
     }

     &.-sensorial {
          background-color: #a73820;
     }

     &.-mathematics {
          background-color: #508ca4;
     }

     &.-language {
          background-color: #6761a8;
     }

     &.-cultural  {
          background-color: #007f00;
     }
*/