$sentinel: 'Sentinel SSm A', 'Sentinel SSm B', serif;
$whitney: 'Whitney SSm A', 'Whitney SSm B', sans-serif;
$cyclone: 'Cyclone A', 'Cyclone B', sans-serif;
$cyclone-b: 'Cyclone Background A', 'Cyclone Background B', sans-serif;
$cyclone-i: 'Cyclone Inline A', 'Cyclone Inline B', sans-serif;