.v-popper--theme-tooltip {

	display: block !important;
	z-index: 10000;
	max-width: 25.34rem; // match width of blurb relatively on article page

	.v-popper__inner {

		background: #fff !important;
		box-shadow: 0.125rem 0.125rem 0.5rem #999 !important;

		/*
		$yale-blue: #094d92;
		$chinese-red: #a73820;
		$smokey-topaz: #983b4c;
		$office-green: #007f00;
		$copper-red: #c9774f;
		$brown-sugar: #b46a46; // darker $copper-red
		$dark-blue-gray: #6761a8;
		$wild-blue-yonder: #aca8cf; // lighter $dark-blue-gray
		 */

		color: #222 !important;
		border-radius: 0.75rem !important;
		padding: 1rem 1.25rem 1rem !important;
	}

	.v-popper__arrow-outer {

		border-color: #fff !important;
	//	box-shadow: -0.125rem -0.125rem 0.5rem #999 !important;
	}
 
	&.popover {
		$color: #f9f9f9;

		.popover-inner {
			background: $color;
			color: black;
			padding: 24px;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, .1);
		}

		.v-popper__arrow-inner {
			border-color: $color;
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}
}