/********
TYPOGRAPHY!
as BEM modifiers
********/

@font-face { font-family: $sentinel; font-display: swap; }
@font-face { font-family: $whitney; font-display: swap; }
@font-face { font-family: $cyclone-i; font-display: swap; }
@font-face { font-family: $cyclone-b; font-display: swap; }

cite {
     font-family: $sentinel;
     // font-style: normal;
     font-weight: 400;
}

._body p a {
     font-weight: 500;
}

blockquote {
     background: #800909;
     border-radius: 0.5rem;
     color: #fff;
     font-family: $sentinel;
     font-size: 1.25rem;
     line-height: 1.67;
     margin: {
          bottom: 4rem;
          left: auto;
          right: auto;
          top: 3rem;
     }
     max-width: 45rem;
     padding: {
          bottom: 0.75rem;
          left: 2.5rem;
          right: 2.5rem;
          top: 1.75rem;
     }
     transform: rotate(-5deg);

     @media($for-reduced) {
          max-width: 40rem;
     }

     @media($for-mobile) {
          margin-top: 2rem;
          margin-bottom: 3rem;
     }

     &:nth-of-type(even) {
          margin-top: 4rem;
          transform: rotate(5deg);

          @media($for-mobile) {
               margin-top: 3rem;
          }
     }

     p,
     li {
          font-weight: 500 !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
     }
}

q {
     font-family: $sentinel;
     font-style: italic;
}

.-activity > .-title,
.-activities > .-title,
.-activity-title {
     font-family: $sentinel;
     font-style: normal;
     font-weight: 500;
     line-height: 1.18em;
}

.-activity,
.-activities   {
     font-family: $sentinel;
     font-style: normal;
     font-weight: 300;
}

.-attribution {
     font-style: italic;
     color: #999;

     p {
          margin-bottom: 0 !important; // Because we are within _body-outer where it's 1rem
     }

     @media($for-mobile) {
          font-size: 0.85rem; // Not sure about setting size here
     }
}

.-caption {
     font-family: $whitney;

     p {
          font-weight: 700 !important;
          opacity: 0.8;
     }
}


.-date {
     font-style: italic;
     font-family: $sentinel;
     font-weight: 300;
}

.-learning-area > .-title,
.-learning-areas > .-title,
.-learning-area-title {
     letter-spacing: 0.125em;
     font-family: $whitney;
     font-weight: 400;
     text-transform: uppercase;
}

.-meta
{
     font-family: $whitney;
     font-weight: 700 !important;
     font-style: italic;
}

.-menu-title {
     text-transform: lowercase;
     font-weight: 700;
}

.-person-name,
.person-name,
.person,
.p {
     font-family: $whitney !important;
     text-transform: uppercase !important;
     font-style: italic !important;
     font-weight: 700 !important;
}

.-section > .-title,
.-sections > .-title,
.-section-title {
     font-family: $cyclone-b;
     font-weight: 100;
     letter-spacing: 0;
     font-family: $cyclone-i;
}

.-materials {
     font-style: italic;
}

.-link,
.-links {
     font-family: $whitney;
}

.tooltip {
     font-weight: 400;
     font-size: 1.125rem;
}

.-tagline {
     font-weight: 700 !important;
}

.-url {
     text-transform: lowercase;
     font-family: $whitney;
     font-style: italic;
}