<template>

	<div
		ref="el"
	>

		<TheHeader/>

		<NuxtPage />

		<TheFooter />
	
		<a
			class="scroll-to-top"
			href="#"
			title="Scroll to top"
		>
			<fa :icon="['fas', 'chevron-circle-up']" />
		</a>
		
	</div>

</template>


<script setup>

</script>


<style lang="scss">

.scroll-to-top {

	bottom: 0.5rem;
	display: block;
	font-size: 3rem;
	height: 3rem;
	line-height: 1;
	opacity: 0.2;
	position: fixed;
	right: 0.5rem;
	text-align: center;
	width: 3rem;
	z-index: 100;

	&:hover {

		opacity: 0.4;
	}

	&:active {

		opacity: 0.8;
	}
}

</style>