<template>

<div class="wrapper">

	<ArticlesRack />

	<ActivitiesDeck />

	<!-- jobs-board/ -->

</div>

</template>


<script setup>

</script>


<style lang="scss">

.content-holder {

	background-color: #c47d2b;
}

</style>