<template>

<div class="wrapper -activities">

	<TheItem-AnActivity
		:activity="item"
	/>

</div><!-- /.wrapper -->

</template>


<script setup>

import query from '@/queries/activity.gql';
const route = useRoute();

const variables = {
	slug: route.params.Slug
}
const { data } = await useAsyncQuery(query, variables);

const item = data._rawValue.activities[0];

const pageTitle = item.Title;
const pageDescription = item.Blurb;
const pageImage = processImageURL(item.Image.id, '412');

useHead({ 

	title: pageTitle,
	meta: [
		{ hid: 'description', name: 'description', content: pageDescription },
		{
			property: 'og:title',
			content: pageTitle
		},
		{
			property: 'og:description',
			content: pageDescription
		},
		{
			property: 'og:image',
			content: pageImage
		},
		{
			property: 'og:url',
			content:  'https://via-montessori.com' + route.fullPath
		},
		{
			name: 'twitter:title',
			content: pageTitle
		},
		{
			name: 'twitter:description',
			content: pageDescription
		},
		{
			name: 'twitter:image',
			content: pageImage
		},
		{
			name: 'twitter:card',
			content: 'summary_large_image'
		}
	],
})

</script>
